.pokemon-info {
    text-align: center;
    margin: 0 auto;
    background-image: url("../../images/pokedex-big.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 74.8rem;
    height: calc(5300vw / 74.8);
    max-height: 53rem;
    position: relative;
    font-family: Oxanium, cursive;
}

.pokemon-info h2 {
    padding-top: 0.5rem;
    color: hsl(200, 90%, 60%);
    text-shadow: -0.3rem 0.3rem hsl(220, 75%, 40%);
    font-size: 3.2rem;
    font-weight: 400;
    position: absolute;
    top: 32.5%;
    left: 61.5%;
    width: 30%;
    margin: 0;
}

.pokemon-info .p {
    font-size: 2.4rem;
}

.pokemon-info .id {
    margin: 0;
    color: hsl(0, 0%, 20%);
    text-shadow: 0.2rem 0.1rem black;
    width: 8.7%;
    position: absolute;
    top: 84%;
    left: 16%;
}

.pokemon-info form {
    position: absolute;
    top: 51.5%;
    left: 59.7%;
    width: 31%;
    height: 13%;
}

.pokemon-info input {
    margin: 0;
    font-family: Oxanium, cursive;
    color: hsl(0, 0%, 20%);
    width: 100%;
    height: 100%;
    background-color: hsl(200, 90%, 60%);
    border: 0.3rem solid hsl(220, 75%, 40%);
    border-radius: 1rem;
}

.pokemon-info .types {
    background-color: hsl(0, 0%, 20%);
    width: 17.5%;
    height: 10%;
    position: absolute;
    top: 70%;
    left: 60%;
    border: 0.3rem solid hsl(0, 0%, 20%);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.pokemon-info .type-button {
    position: relative;
    font-family: Oxanium, cursive;
    margin-left: 0.3rem;
    width: 91.7%;
    height: 96%;
    background-color: hsl(0, 0%, 90%);
    border: 0;
    border-radius: 1rem;
    box-shadow: -0.3rem 0.3rem gray;
}

.pokemon-info .type-button:active {
    box-shadow: 0rem 0rem gray;
    transform: translate(-0.3rem, 0.3rem);
}

.pokemon-info .type1, .pokemon-info .type2 {
    height: 84%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pokemon-info .shiny-button {
    padding: 0.3rem 0 0;
    line-height: 1rem;
    font-family: Oxanium, cursive;
    color: white;
    font-size: 3.2rem;
    text-align: center;
    position: absolute;
    top: 61%;
    left: 13%;
    width: 4.7%;
    height: 6.5%;
    border-radius: 50%;
    border: 0.2rem solid hsl(340, 90%, 10%);
}

.pokemon-info .on {
    background-color: hsl(340, 90%, 30%);
    transform: translate(-0.2rem, 0.2rem);
    box-shadow: 0 0;
}

.pokemon-info .off {
    background-color: hsl(340, 90%, 45%);
    box-shadow: -0.2rem 0.2rem hsl(340, 90%, 10%);
}

.pokemon-info .button {
    font-family: Oxanium, cursive;
    text-align: center;
    margin: 0.8rem auto;
    width: 15%;
    height: 8%;
    color: white;
    background-color: hsl(0, 0%, 20%);
    box-shadow: -0.2rem 0.2rem hsl(0, 0%, 15%), -0.4rem 0.4rem hsl(0, 0%, 10%);
    border: 0.1rem solid hsl(0, 0%, 0%);
    border-radius: 0.5rem;
}

.pokemon-info .button:active {
    transform: translate(-0.2rem, 0.2rem);
    box-shadow: -0.2rem 0.2rem hsl(0, 0%, 10%);
}

.pokemon-info .prev {
    position: absolute;
    top: 81%;
    left: 60.5%;
    font-size: 2.4rem;
}

.pokemon-info .next {
    position: absolute;
    top: 81%;
    left: 77.5%;
    font-size: 2.4rem;
}

.pokemon-info .img-div {
    position: absolute;
    top: 32%;
    left: 12%;
    width: 30%;
    height: 25%;
}

.pokemon-info .pokemon-img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    max-width: 13rem;
    max-height: 10rem;
    object-fit: contain;
}

@media only screen and (max-width: 760px) {  
    .pokemon-info h2 {
        font-size: 2rem;
    }

    .pokemon-info p {
        font-size: 1.6rem;
    }

    .pokemon-info .id {
        font-size: 1.6rem;
    }

    .pokemon-info .prev, .pokemon-info .next, .pokemon-info .shiny-button {
        font-size: 1.6rem;
    }

    .pokemon-info .prev {
        font-size: 1.6rem;
        border-radius: 0.5rem;
    }

    .pokemon-info .next {
        font-size: 1.6rem;
        border-radius: 0.5rem;
    }

    .pokemon-info input {
        font-size: 1.6rem;
    }

    .pokemon-info .pokemon-img {
        transform: translate(-50%, -50%) scale(1);
    }
}

@media only screen and (max-width: 425px) and (orientation: portrait) {
    body {
        height: 90vh;
    }
    
    .pokemon-info {
        transform: rotate(90deg);
        margin-top: 7rem;
        left: -15%;
        min-width: 45.2rem;
        min-height: 32rem;
    }

    .pokemon-info .pokemon-img {
        transform: translate(-50%, -50%) scale(0.9);
    }
}

@media only screen and (max-width: 336px) and (orientation: portrait) {
    .pokemon-info {
        left: -21%;
    }
}

@media only screen and (max-height: 480px) and (orientation: landscape) {
    main {
        height: 80vh;
    }

    .pokemon-info {
        transform: scale(0.7);
        top: -7rem;
        margin-top: 0;
    }
}