.back-button {
    background-color: hsl(0, 0%, 20%);
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
    color: white;
    font-size: 2rem;
    border-radius: 0.5rem;
    box-shadow: -0.2rem 0.2rem black;
}

.back-button:active {
    transform: translate(-0.2rem, 0.2rem);
    box-shadow: 0 0;
}